<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.ly.mybatis.mapper.UserMapper">
    <select id="selectOne" paramterType="com.ly.mybatis.entity.User" resultType="com.ly.mybatis.entity.User">
        select * from user where id = #{id} and age =#{age}
    </select>

    <select id="selectList" resultType="com.ly.mybatis.entity.User">
        select * from user
    </select>
</mapper>